<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="com.abapblog.verticaltabs.views.VTView"
            icon="icons/tree_mode.png"
            id="com.abapblog.verticaltabs.view"
            inject="true"
            name="Vertical Tabs"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.abapblog.verticaltabs.view">
         <command
               commandId="com.abapblog.verticaltabs.commands.expandAll"
               icon="icons/expand_all.gif"
               label="Expand All"
               style="push"
               tooltip="Expand All">
         </command>
         <command
               commandId="com.abapblog.verticaltabs.commands.collapseAll"
               icon="icons/collapse_all.gif"
               label="Collapse All"
               style="push"
               tooltip="Collapse All">
         </command>
         <separator
               name="separator"
               visible="true">
         </separator>
         <command
               commandId="com.abapblog.verticaltabs.commands.groupbyproject"
               icon="icons/group_by_project.png"
               label="Group by project"
               style="toggle">
         </command>
         <command
               commandId="com.abapblog.verticaltabs.commands.sort"
               icon="icons/alphab_sort_co.gif"
               label="Sort"
               style="pulldown">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="Next">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.abapblog.verticaltabs.commands.sort">
         <command
               commandId="com.abapblog.verticaltabs.commands.sort"
               id="com.abapblog.verticaltabs.commands.sort.manual"
               label="Manual"
               style="radio">
              <parameter
                    name="org.eclipse.ui.commands.radioStateParameter"
                    value="Manual">
              </parameter>
         </command>
         <command
               commandId="com.abapblog.verticaltabs.commands.sort"
               id="com.abapblog.verticaltabs.commands.sort.project"
               label="Project"
               style="radio">
              <parameter
                    name="org.eclipse.ui.commands.radioStateParameter"
                    value="Project">
              </parameter>
         </command>
         <command
               commandId="com.abapblog.verticaltabs.commands.sort"
               id="com.abapblog.verticaltabs.commands.sort.name"
               label="Name"
               style="radio">
              <parameter
                    name="org.eclipse.ui.commands.radioStateParameter"
                    value="Name">
              </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.abapblog.verticaltabs.view">
         <command
               commandId="com.abapblog.verticaltabs.commands.renameGroup"
               icon="icons/rename.gif"
               label="Rename"
               style="push"
               tooltip="Rename Group">
            <visibleWhen>
			<with variable="activeMenuSelection">
			<count value="+" />
			<iterate ifEmpty="false" operator="and">
			  <or><instanceof value="com.abapblog.verticaltabs.tree.nodes.GroupNode">	</instanceof>
			        <instanceof
            value="com.abapblog.verticaltabs.tree.nodes.TabNode">
      </instanceof> </or>

			</iterate>

			</with>
            </visibleWhen>
         </command>
         <command
               commandId="com.abapblog.verticaltabs.commands.ungroup"
               icon="icons/ungroup.gif"
               label="Ungroup"
               style="push"
               tooltip="Ungroup">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <count
                        value="+">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.abapblog.verticaltabs.tree.nodes.GroupNode">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.abapblog.verticaltabs.commands.closeSelected"
               icon="icons/notification-close.png"
               label="Close"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.abapblog.verticaltabs.view">
         <command
               commandId="com.abapblog.verticaltabs.commands.releaseNotes"
               icon="icons/info_tsk.png"
               label="Show Release Notes"
               style="push">
         </command>
         <command
               commandId="com.abapblog.verticaltabs.commands.openGithub"
               icon="icons/github.png"
               label="Feedback, Bugs &amp; Enhancements"
               style="push">
         </command>
         <command
               commandId="com.abapblog.verticaltabs.commands.buyABeer"
               icon="icons/beer.png"
               label="Buy Me a Beer"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.abapblog.verticaltabs.handlers.SortCommand"
            id="com.abapblog.verticaltabs.commands.sort"
            name="Sort">
         <state
               class="org.eclipse.ui.handlers.RadioState"
               id="org.eclipse.ui.commands.radioState">
         </state>
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="Sort Name"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.abapblog.verticaltabs.handlers.GroupByProject"
            id="com.abapblog.verticaltabs.commands.groupbyproject"
            name="Group by project">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="com.abapblog.verticaltabs.handlers.RenameGroup"
            id="com.abapblog.verticaltabs.commands.renameGroup"
            name="Rename">
      </command>
      <command
            defaultHandler="com.abapblog.verticaltabs.handlers.CloseSelectedTabNodes"
            id="com.abapblog.verticaltabs.commands.closeSelected"
            name="Close Selected">
      </command>
      <command
            defaultHandler="com.abapblog.verticaltabs.handlers.CollapseAll"
            id="com.abapblog.verticaltabs.commands.collapseAll"
            name="Collapse All">
      </command>
      <command
            defaultHandler="com.abapblog.verticaltabs.handlers.ExpandAll"
            id="com.abapblog.verticaltabs.commands.expandAll"
            name="Expand All">
      </command>
      <command
            defaultHandler="com.abapblog.verticaltabs.handlers.Ungroup"
            id="com.abapblog.verticaltabs.commands.ungroup"
            name="Ungroup">
      </command>
      <command
            defaultHandler="com.abapblog.verticaltabs.handlers.RleaseNotes"
            id="com.abapblog.verticaltabs.commands.releaseNotes"
            name="Show Release Notes">
      </command>
      <command
            defaultHandler="com.abapblog.verticaltabs.handlers.OpenGithub"
            id="com.abapblog.verticaltabs.commands.openGithub"
            name="Feedback, Bugs &amp; Enhancements">
      </command>
      <command
            defaultHandler="com.abapblog.verticaltabs.handlers.BuyMeABeer"
            id="com.abapblog.verticaltabs.commands.buyABeer"
            name="Buy Me a Beer">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.abapblog.verticaltabs.preferences.PreferenceInitilizer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.abapblog.verticaltabs.commands.renameGroup"
            contextId="com.abapblog.verticaltabs.view.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F2">
      </key>
      <key
            commandId="com.abapblog.verticaltabs.commands.closeSelected"
            contextId="com.abapblog.verticaltabs.view.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DELETE">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.abapblog.verticaltabs.view.context"
            name="Vertical Tabs View Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.abapblog.verticaltabs.release.notes.EditorInputPersistant"
            id="com.abapblog.verticaltabs.release.notes.EditorInputPersistant">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.abapblog.verticaltabs.release.notes.ReleaseNotesEditor"
            default="false"
            icon="icons/tree_mode.png"
            id="com.abapblog.verticaltabs.release.notes.editor"
            name="Vertical Tabs Release Notes">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.abapblog.verticaltabs.release.notes.Startup">
      </startup>
   </extension>

</plugin>
