<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="com.abapblog.verticaltabs.views.VTView"
            icon="platform:/plugin/org.eclipse.ui.views/icons/full/elcl16/tree_mode.png"
            id="com.abapblog.verticaltabs.view"
            inject="false"
            name="Vertical Tabs"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.abapblog.verticaltabs.view">
         <command
               commandId="com.abapblog.verticaltabs.commands.sort"
               icon="platform:/plugin/org.eclipse.xtext.ui/icons/elcl16/alphab_sort_co.gif"
               label="Sort"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.abapblog.verticaltabs.commands.sort">
         <command
               commandId="com.abapblog.verticaltabs.commands.sort.manual"
               label="Manual"
               style="push">
         </command>
         <command
               commandId="com.abapblog.verticaltabs.commands.sort.project"
               label="Project"
               style="push">
         </command>
         <command
               commandId="com.abapblog.verticaltabs.commands.sort.name"
               label="Name"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.abapblog.verticaltabs.handlers.ManualSort"
            id="com.abapblog.verticaltabs.commands.sort.manual"
            name="Manual">
      </command>
      <command
            defaultHandler="com.abapblog.verticaltabs.handlers.ProjectSort"
            id="com.abapblog.verticaltabs.commands.sort.project"
            name="Project">
      </command>
      <command
            defaultHandler="com.abapblog.verticaltabs.handlers.NameSort"
            id="com.abapblog.verticaltabs.commands.sort.name"
            name="Name">
      </command>
      <command
            defaultHandler="com.abapblog.verticaltabs.handlers.SortCommand"
            id="com.abapblog.verticaltabs.commands.sort"
            name="Sort">
      </command>
   </extension>

</plugin>
